<p>
  <img src="assets/logo.png">
</p>
<div>

<table class="styled-table">
  <thead>
      <tr>
          <th>#</th>
          <th>Marca</th>
          <th>Linea</th>
          <th>Modelo</th>
      </tr>
  </thead>
  <tbody *ngFor="let vehiculo of vehiculos">
      <tr>
          <td>{{ vehiculo.id }}</td>
          <td>{{ vehiculo.marca}}</td>
          <td>{{ vehiculo.linea }}</td>
          <td>{{ vehiculo.modelo }}</td>
      </tr>
  </tbody>

</table>
</div>

<div *ngIf="vehiculos.length > 0">
    <div *ngFor="let marca of obtenerListaMarcas()">
     Total {{ marca[0] }}: {{ marca[1] }}
    </div>
</div>
<hr>
<p style="text-align: center;font-size: smaller">Contact us: +57 3102105253- info&#64;tusegundazo.com - &#64;tusegundazo</p>


