<p>
  <img src="assets/logo.png">
</p>
<table class="styled-table">
  <thead>
      <tr>
          <th>#</th>
          <th>Marca</th>
          <th>Linea</th>
          <th>Modelo</th>
      </tr>
  </thead>
  <tbody *ngFor="let vehiculo of vehiculos">
      <tr>
          <td>{{ vehiculo.id }}</td>
          <td>{{ vehiculo.marca}}</td>
          <td>{{ vehiculo.linea }}</td>
          <td>{{ vehiculo.modelo }}</td>
      </tr>
  </tbody>

</table>
<div *ngIf="vehiculos.length > 0">
  <h3>Resumen de Totales por Marcas:</h3>
  <ul>
    <li *ngFor="let marca of obtenerListaMarcas()">
      {{ marca[0] }}: {{ marca[1] }}
    </li>
  </ul>
</div>
<hr>
<p style="text-align: center;font-size: smaller">Contact us: +57 3102105253- info&#64;tusegundazo.com - &#64;tusegundazo</p>


